body {
    padding: 0px;
    margin:  0px;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #000;
}

a:link{
    color:rgb(0, 49, 208)
}


a:visited{
    color:rgb(0, 255, 213)
}

a:hover{
    color:rgb(65, 231, 134) 
}

a:active{
    color:rgb(32, 177, 78) 
}

.deadnav {
    color: #fff;
    background-color: #3cf;
}

/*.logo {
    font-size: 36px;
}*/


p {
    padding: 10px;
}

#navlist li {
    display: inline;
    list-style-type:circle;
    padding-right: 20px;
    border-left: 1px solid #000;
    line-height: 1.1em;
    margin: 0 .5em 0 -.5em;
    padding: 0 .5em 0 .5em;
}

.box {
    margin:10px;
    padding:10px;
    background-color:#666;
    border-width:1px;
    border-color:black;
    border-style:solid;
    clear:both;
}

.nav {
    margin:10px;
    padding:10px;
    background-color:#999;
    border-width:1px;
    border-color:black;
    border-style:solid;
}

.left {
    width:20%;
    margin:10px;
    padding:10px;
    background-color:#CCC;
    border-width:1px;
    border-color:black;
    border-style:solid;
    float:left;
}

.centre {
    width:47%;
    margin:10px;
    padding:10px;
    background-color:#CCC;
    border-width:1px;
    border-color:black;
    border-style:solid;
    float:left;
}

.right {
    width:20%;
    margin:10px;
    padding:10px;
    background-color:#CCC;
    border-width:1px;
    border-color:black;
    border-style:solid;
    float:right;
}

.lower_nav {
    margin:10px;
    padding:10px;
    background-color:#999;
    border-width:1px;
    border-color:black;
    border-style:solid;
    clear:both;
}

.legal {
    margin:10px;
    padding:10px;
    background-color:#999;
    border-width:1px;
    border-color:black;
    border-style:solid;
    float:none;
    clear:both;
}